<div class="container">
    <br>
    <img src="/assets/img/burger.png" alt="Burger">
    <br>
    <h2 class="text-center">Eat a Burger</h2>
    <br>

    <div class="row justify-content-center">
        <div class="col-4">
            <h4>Ready to  eat:</h4>
            {{!-- <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        <button class="astext eatButton" type="button" burgerID={{id}}  title="Click to eat!">{{id}}: {{burger_name}}</button>
                    </li>
                    {{/unless}}
                {{/each}}
            </ul> --}}
                {{#each burgers}}
                    {{#unless devoured}}
                        <div class="card">
                            <div burgerID={{id}} class="card-block freshBurger">
                                {{id}}: {{burger_name}}
                            </div>
                        </div>
                    {{/unless}}
                {{/each}}
        </div>
        <div class="col-4">
            <h4>Already eaten:</h4>
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="card">
                        <div class="card-block eatenBurger">
                            {{id}}. {{burger_name}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <br>

    {{!-- Add a new burger --}}
    <form class="text-center" action="api/burgers" method="POST">
        <div class="form-group row">
            <p id="formIncomplete"></p>
            <input class="form-control" placeholder="What would you like?" type="text" id="burgerForm" name="burgerName">
        </div>
        <button id="newButton" type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <label for="burgerForm">Use the form to make an order, <br>and click on a burger to eat it!</label>
    </form>
    <br>
        
    </div>
</div>

<script type="text/javascript">
    $("form").submit(function() {
        if (($("#burgerForm").val().trim() === "" || $("#burgerForm").val().trim().length > 50)) {
            $("#burgerForm").val("")
            $("#formIncomplete").html("Please enter a valid name");
            return false;
        } else {
            $("#formIncomplete").hide()
        }
    });
    $(".freshBurger").click(function() {
        var burgerID = $(this).attr("burgerID")
        var queryURL = "/api/burgers/" + burgerID
        $.ajax({
            url: queryURL,
            type: 'PUT',
            success: function(data) {
                location.reload();
            }
        });
    });
</script>